In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline 
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs

In [3]:
Games_dados = pd.read_csv("../dados/GamesDados_v2.csv")

In [4]:
Games_dados.Global_Sales_GenMed.mean()

0.20530801907092813

In [5]:
Games_dados.Global_Sales_GenMed.describe()

count    55792.000000
mean         0.205308
std          0.507312
min          0.000000
25%          0.060000
50%          0.120000
75%          0.180000
max         20.320000
Name: Global_Sales_GenMed, dtype: float64

* genmed >= 0.180000 vendas Muito Altas (3 quartil em diante valores mais autos)
* genmed <  0.180000 e >=  0.205308 vendas  Alta (valores entre abaixo do 3 quartil ate a media)
* genmed < 0.120000 2 > 0.060000 vendas media (valores entre o 1 quaertil e a mediana)
* genmed < 0.060000 vendas baixas

In [6]:
Games_dados['Lucro'] = Games_dados.Global_Sales_GenMed.map(lambda x: x > Games_dados.Global_Sales_GenMed.mean() and 'Alto' or 'Baixo')

## Clustering

In [7]:
#sns.pairplot(Games_dados[['Code_Genre', 'Code_Platform', 'Global_Sales_GenMed','Critic_Score','Year','User_Score','Lucro']], hue='Lucro')

## Classificação

#### Encoding

In [8]:
Games_dados['Name'] = Games_dados['Name'].astype('category')
Games_dados['Code_Name'] = Games_dados['Name'].cat.codes

Games_dados['basename'] = Games_dados['basename'].astype('category')
Games_dados['Code_basename'] = Games_dados['basename'].cat.codes

Games_dados['url'] = Games_dados['url'].astype('category')
Games_dados['Code_url'] = Games_dados['url'].cat.codes

Games_dados['Publisher'] = Games_dados['Publisher'].astype('category')
Games_dados['Code_Publisher'] = Games_dados['Publisher'].cat.codes

#### One-hot Encoding

In [9]:
#one-hot encoding
dfDummies = pd.get_dummies(Games_dados['Code_Genre'], prefix = 'Genre')
dfDummies.head()

,Genre_0,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,Genre_7,Genre_8,Genre_9,Genre_10,Genre_11,Genre_12,Genre_13,Genre_14,Genre_15,Genre_16,Genre_17,Genre_18,Genre_19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [10]:
Games_dados = pd.concat([Games_dados, dfDummies], axis=1)
Games_dados.head()

,Unnamed: 0,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,...,Genre_10,Genre_11,Genre_12,Genre_13,Genre_14,Genre_15,Genre_16,Genre_17,Genre_18,Genre_19
0,0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,...,0,0,0,0,0,0,0,1,0,0
1,1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,...,0,0,1,0,0,0,0,0,0,0
3,3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,...,0,0,0,0,0,1,0,0,0,0
4,4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
Games_dados = Games_dados.drop('Code_Genre', 1)
Games_dados.head()

,Unnamed: 0,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,...,Genre_10,Genre_11,Genre_12,Genre_13,Genre_14,Genre_15,Genre_16,Genre_17,Genre_18,Genre_19
0,0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,...,0,0,0,0,0,0,0,1,0,0
1,1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,...,0,0,1,0,0,0,0,0,0,0
3,3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,...,0,0,0,0,0,1,0,0,0,0
4,4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,...,0,0,0,0,0,0,0,1,0,0

### Modelo 1 - Naive Bayes Gaussian

In [12]:
Games_dados.columns

Index(['Unnamed: 0', 'Rank', 'Name', 'basename', 'Genre', 'ESRB_Rating',
       'Platform', 'Publisher', 'Developer', 'Critic_Score', 'User_Score',
       'Total_Shipped', 'Global_Sales', 'NA_Sales', 'PAL_Sales', 'JP_Sales',
       'Other_Sales', 'Year', 'Last_Update', 'url', 'status', 'img_url',
       'Code_Platform', 'Global_Sales_GenMed', 'Global_Sales_GypMed',
       'Global_Sales_GyMed', 'Lucro', 'Code_Name', 'Code_basename', 'Code_url',
       'Code_Publisher', 'Genre_0', 'Genre_1', 'Genre_2', 'Genre_3', 'Genre_4',
       'Genre_5', 'Genre_6', 'Genre_7', 'Genre_8', 'Genre_9', 'Genre_10',
       'Genre_11', 'Genre_12', 'Genre_13', 'Genre_14', 'Genre_15', 'Genre_16',
       'Genre_17', 'Genre_18', 'Genre_19'],
      dtype='object')

In [18]:
variaveis_predicao = ['Genre_0',
                      'Genre_1',
                      'Genre_2',
                      'Genre_3',
                      'Genre_4',
                      'Genre_5',
                      'Genre_6',
                      'Genre_7',
                      'Genre_8',
                      'Genre_9',
                      'Genre_10',
                      'Genre_11',
                      'Genre_12',
                      'Genre_13',
                      'Genre_14',
                      'Genre_15',
                      'Genre_16',
                      'Genre_17',
                      'Genre_18',
                      'Genre_19',
                      'Rank',
                      'status',
                      'Code_Platform',
                      'Global_Sales_GenMed']
target = Games_dados['Lucro']

In [19]:
# Dados
from sklearn.model_selection import train_test_split
import seaborn as sns
#iris = sns.load_dataset('iris')
#X_Games = Games_dados.drop('Lucro', axis=1)
X_Games = Games_dados[variaveis_predicao]
y_Games = target
Xtrain, Xtest, ytrain, ytest = train_test_split(X_Games, y_Games,random_state=90)

In [20]:
from sklearn.naive_bayes import GaussianNB   # 1. escolha da técnica
model_1 = GaussianNB()                       # 2. instanciação do modelo
model_1.fit(Xtrain, ytrain)                  # 3. criação do modelo
y_model_1 = model_1.predict(Xtest)

In [49]:
t = pd.DataFrame(data=y_model_1,columns=['Predição'])
t = pd.concat([t, y_Games], axis=1)

In [46]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model_1)

0.9239317464869515

In [47]:
#usando cross-validation
from sklearn.model_selection import cross_val_score
cross_val_score(model_1, X_Games, y_Games, cv=5)

array([0.51115691, 0.97679003, 0.86584819, 0.86287865, 0.86295599])

## SVM

In [ ]:
from sklearn import svm
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(df[list_of_x_cols], df[y_col],test_size=0.2)

In [ ]:
# Variaveis usadas para prever
X = Games_dados[['Code_Genre','Code_Platform','Global_Sales_GenMed']]
# Target - variavel a ser predita
Y = Games_dados['Lucro']

In [ ]:
X_train,Y_train,X_test,Y_test = train_test_split(X,Y,test_size=0.3,random_state=13)

In [ ]:
C = 1.0  # SVM regularization parameter
clf = svm.SVC(C=2)

In [ ]:
#clf.fit(X_train, Y_train)

## KMeans

In [ ]:
X_Games = Games_dados[['Rank','status','Code_Name','Code_basename',"Code_url","Code_Publisher",'Code_Platform', 'Code_Genre','Global_Sales_GenMed']]
y_Games = Games_dados['Lucro']

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model_Kmeans = KNeighborsClassifier()